@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor-fundo: #d5f7589e;
    --cor2: #B9E34D;
    --cor3: #2fa866;
    --cor4: #7AE34D;
    --cor5: #1a5c37;
    --cor6: #AFE399;
    --cor-7: #ffffff;
    --cor-texto: #333333;
    --cor-destaque: #063d1e;
    --fonte-principal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-mascote: 'android', cursive;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor-destaque));
    min-height: 150px;
    padding-top: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-weight: normal;
}
header > h2 {
    color: var(--cor-7);
    font-family: var(--fonte-principal);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

header > p {
    color: var(--cor-7);
    font-family: var(--fonte-destaque);
    font-size: 1.2em;
    font-weight: normal;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    margin: auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

a.externo::after {
    content: ' \2197'; /* Unicode para o ícone de link externo setinha pra cima */
    font-size: 0.8em;
}

nav {
    background-color: var(--cor-destaque);
    color:var(--cor-header);
    padding: 10px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav > a {
    color: var(--cor6);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 15px;
    font-family: var(--fonte-principal);
    font-weight: bold;
    transition-duration: 0.3s;
}

nav > a:hover {
    color: var(--cor-destaque);
    background-color: var(--cor5);
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: var(--fonte-principal);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

main {
    background-color: var(--cor-7);
    padding: 20px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.425);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    font-family: var(--fonte-mascote);
    font-size: 2.5em;
    color: var(--cor5);
    text-align: center;
    margin-bottom: 10px;
}

main h2 {
    color: var(--cor3);
    background-image: linear-gradient(to right, var(--cor6), transparent);
    font-family: var(--fonte-mascote);
    font-size: 1.3em;
    line-height: 1.6;
    font-size: 1.8em;
    margin: 0 20px 20px 20px;
}

main p {
    
    margin: 15 0px 15px 0px;
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 20px;
    text-indent: 30px;
}

main img {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    
}

main a {
    color: var(--cor5);
    text-decoration: none;
    transition-duration: 0.3s;
    background-color: var(--cor6);
    padding: 2px 5px;
    border-radius: 3px;
}

main a:hover {
    text-decoration: underline;
    background-color: var(--cor3);
    color: var(--cor-7);
}

div.video {
    background-color: var(--cor5);
    text-align: center;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

article > p:last-of-type {
    margin-top: 20px;
    font-weight: bold; /* Só pra dar um destaque extra no encerramento */
}

aside {
    background-color: var(--cor6);
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.280);
    margin-top: 20px;
    
}

aside > h3 {
    background-color: #063d1e;
    color: var(--cor-7);
    padding: 10px;
    margin: -10px -10px 10px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\00a0\00a0'; /* Símbolo de check\ espaço\ espaço */
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor-destaque);
    color: var(--cor-7);
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer > a {
    color: var(--cor-7);
    text-decoration: none;
    font-weight: bold;
}

footer > a:hover {
    text-decoration: underline;
    color: var(--cor2);
}
